<div class="about container">
  <h1>About Us</h1>
  <div class="feature_divider"></div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="title">
        <p>
          The topic"What is organic? Food"is always of interest to readers and
          is searched a lot on our website as well as on Google.
        </p>
        <p>
          Coming to us, you will learn a lot of knowledge about organic products
          and spices.
        </p>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <h2>Who We Are</h2>
    <div class="col-1"></div>
    <div class="title1 col-10">
      <p>
        Organicfood.vn is an organic food store chain with the goal of helping
        Vietnamese consumers have a healthier life through certified organic
        foods, natural foods and non-genetically modified foods. (GMO).
        Therefore our company was established on September 5, 2023 with the aim
        to bring the benefits of a healthy lifestyle, source the highest quality
        organic products to customers and provide services. Best home delivery.
        We strongly believe that products created from organic and natural
        farming and production are good for everyone's body, better for the
        community and better for the planet we live on. living.
      </p>
      <p>
        Once again, Organicfood.vn was founded by founders who wanted to create
        a clean food community, based on organic and purely natural foundations,
        to bring the best health to the community. .
      </p>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <h2>How We Work</h2>
    <div class="col-1"></div>
    <div class="col-10">
      <div class="title1">
        <p>
          We always promote health and benefits for users as top criteria.
          Therefore, we always update and research useful information about the
          health that organic foods bring to people. Only providing organic
          foods and natural foods that have received prestigious certifications
          in general and verified by Organicfood.vn in particular. Create
          positive, long-term and trusting relationships between
        </p>

        <p>
          Organicfood.vn and customers, employees, suppliers and the community.
          Support the development of farms, small communities in remote areas,
          ethnic minority areas and vulnerable groups in society that cultivate
          organically and naturally for a good life. than.
        </p>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <h2>Sustainabl Development</h2>
    <div class="col-1"></div>
    <div class="col-10">
      <div class="title1">
        <p>
          Organic farming is getting better for our planet. We look to
          localities where there are uncontaminated land, water, and air sources
          to build good ecosystems, and we have outlined the best path to save
          emissions. We keep waste to a minimum with food scraps donated to
          local residents for composting and pet food. Our packaging is reusable
          and can be recycled. We use certified compostable and biodegradable
          bags.Our boxes can be reused and we ask customers to exchange them for
          their next purchase.
        </p>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <video autoplay loop muted>
    <source src="./assets/images/banner/_import_60c2f471670331.73745820_FPpreview.mp4" type="video/mp4" />
  </video>
</div>
