<div class="row">
    <div class="col-12">
        <video autoplay loop muted>
            <source src="./assets/images/banner/_import_60c1dffe85eb87.01124677_FPpreview.mp4" type="video/mp4" />
        </video>
    </div>
</div>
<div class="container contact_body contact">
    <div class="contact_info">
        <h3 class="info_heading">FLAVORS CONTACT</h3>
        <p class="info_desc">
            Lorem ipsum dolor sit amet, ad nec scripta volumus, eu viris salutatus
            dissentias sit, ex enim duo magna nostro. Dolor sit amet, ad nec scripta
            volumus amet in sit vivid.
        </p>
        <div class="info_address">
            <h5 class="address_heading">Store Contact</h5>

            <div>
                <i class="info_address-icon fa-solid fa-location-dot"></i>
                <a target="_blank" href="https://goo.gl/maps/7NkVPbefF2tZHU4E8" class="yellow-color_hover">
                    285 P. Đội Cấn, Liễu Giai, Ba Đình, Hà Nội.
                </a>
            </div>
            <div>
                <i class="info_address-icon fa-solid fa-phone"></i>
                <a href="tel:+9348784327" class="yellow-color_hover">+9348784327</a>
            </div>

            <div>
                <i class="info_address-icon fa-regular fa-envelope"></i>
                <a href="mailto:nguyenthanhtung21011998@gmail.com"
                    class="yellow-color_hover">nguyenthanhtung@gmail.com</a>
            </div>

            <div class="underline">
                <a target="_blank" href="https://goo.gl/maps/7NkVPbefF2tZHU4E8">
                    GET DEREACTION
                </a>
                <i class="arrow fa-solid fa-arrow-right"></i>
            </div>
        </div>
    </div>
    <!-- contact our store -->
    <div class="contact_formMess">
        <h3 class="formMess_heading">CONTACT OUR STORE</h3>
        <form action="" class="formMess_form">
            <input class="form-input formMess_name" name="name" placeholder="Name" type="text" />
            <input class="form-input formMess_email" name="email" placeholder="Email" type="email" />
            <textarea class="form-input formMess_message" name="message" placeholder="Message" type="text"></textarea>
            <span class="contact-message"></span>
            <button class="formMess_form-btn">
                <span>SEND</span>
                <i class="arrow fa-solid fa-arrow-right"></i>
            </button>
        </form>
    </div>
</div>
<div class="contact_map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d930.9799440451143!2d105.81851570907281!3d21.035895722450853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab0d127a01e7%3A0xab069cd4eaa76ff2!2zMjg1IFAuIMSQ4buZaSBD4bqlbiwgTGnhu4V1IEdpYWksIEJhIMSQw6xuaCwgSMOgIE7hu5lpIDEwMDAwMCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1694484634115!5m2!1sen!2s"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>
</div>